@charset "windows-1251";

body
{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

ol
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
}

#translucent
{
    opacity: 0.5;
}

#blue
{
    color: blue;
}